<span class="sr-only"><%= t("components.rs.topbar.user_menu.open") %></span>
<div class="h-8 w-8 rounded-full <%= avatar_color %> flex justify-center items-center" aria-label="User avatar"><%= avatar_initials %></div>
