<div class="relative z-40 hidden" aria-labelledby="slide-over-title" role="dialog" aria-modal="true" data-controller="<%= controller %>" data-<%= controller %>-target="panel">
  <div class="pointer-events-none fixed inset-y-0 right-0 flex pl-10 sm:pl-16 sm:w-[26rem] w-96">
    <div class="pointer-events-auto h-full grow">
      <%= body %>
    </div>
  </div>
</div>
