<div class="sm:flex sm:items-center">
  <div class="sm:flex-auto">
    <h1 class="text-base font-semibold leading-6 text-neutral-900"><%= title %></h1>
    <p class="mt-2 text-sm text-neutral-700"><%= description %></p>
  </div>
  <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
    <%= render RS::LinkButton::Component.new(url: url, text: text, target: target) if url.present? %>
  </div>
</div>
